<footer>
    <div class="container">
        <div class="row fivecol top">
            <div class="span2 tentacles text-center">
                <img src="/static/images/poulpy_white.png">
                <a class="text-lowercase bold-light" href="">be legendary</a>
                <p id="copy">Copyright &copy; 2019 | Poulpy</p>
            </div>
            <div class="span2">
                <ul>
                    <li class="col_title">Account</li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>
            <div class="span2">
                <ul>
                    <li class="col_title">About</li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Press</a></li>
                    <li><a href="">Contact</a>
                    </li>
                    <li><a href="">Terms of Service</a></li>
                    <li><a href="">Security</a></li>
                    <li><a href="">Privacy Notice</a></li>
                </ul>
            </div>
            <div class="span2">
                <ul>
                    <li class="col_title">Resources</li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Charts</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Fees</a></li>
                    <li><a href="">Support</a></li>
                    <li><a href="">Trading Guide</a></li>
                    <li><a href="">API</a></li>
                    <li><a href="">PGP Key</a></li>
                    <li><a href="">Audit</a></li>
                    <li><a href="">Bug Bounty</a></li>
                </ul>
            </div>
            <div class="span2">
                <ul class="language">
                    <li class="col_title">Language</li>
                    <select id="lang-selector">
                        <option selected="" value="/u/trade?setlang=en-us&amp;">English (US)</option>
                        <option value="/u/trade?setlang=en-gb&amp;">English (GB)</option>
                        <option value="/u/trade?setlang=ja-jp&amp;">Japanese</option>
                    </select>
                    <li class="social twitter"><a href=""><i class="icon-twitter icon-15x"></i></a></li>
                    <li class="social linkedin"><a href=""><i class="icon-linkedin icon-15x"></i></a></li>
                    <li class="social facebook"><a href=""><i class="icon-facebook-sign icon-15x"></i></a></li>
                    <li class="social github"><a href=""><i class="icon-github icon-15x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>